*{
    margin: 0;
    padding: 0;
    
}

/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;300;400&display=swap');

html {
    scroll-behavior: smooth;
  }

body {
    font-family: 'kanit', sans-serif;
    background-color: black; 
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: 0.7s;
    padding: 30px 20px;
    z-index: 10;  
    border-bottom: 4px solid #ee5e0ad3;
    background: linear-gradient( to bottom, rgba(255, 255, 255, 0), #ee5e0a75);
    
}
header.abajo{
    background: #ee5e0a;
    padding: 15px 20px;
}

header.abajo .logo{
    position: relative;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 3em;
    letter-spacing: 2px;
    transition: 1.5s;
    text-decoration: none;
}

header.abajo ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    letter-spacing: 2px;
    font-weight: 600;
    transition: 0.7s;
}

header .logo{
    position: relative;
    width: 25%;
    display: block;
}

.tamaño-food{
    font-size: 27px;
}

.tamaño-food:active{
    color: #ffffff;
}

.tamaño-food:hover{
    color: rgb(248, 173, 12);
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

header ul li{
    list-style: none;
}

header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #ff6e0d;
    letter-spacing: 2px;
    font-weight: 600;
    transition: 0.7s;
}

.bg-primary {
    background-color: #F96C1E!important;
}

.bg-secondary {
    background-color: #c7c57d!important;
}

.clases {
    background-color: #000;
}

.card-margen{
    margin-top: 20px;
}

.card {margin-bottom: 2rem;}
.card-meta span {
    font-weight: 700;
}

.card-subtitle {
    color: #F96C1E;
    font-weight: 400;
}
.card-body p{
    font-size: 1rem;
    line-height: 2rem;
}
.card-body a {
    color: #F96C1E;
}

.btn-primary {
    background-color: #F96C1E;
    border-color:#ebebeb;
}
.btn-primary:hover {
    background-color: #ee801a;
    border-color: #f07605;
}
.footer {
    border-bottom: 10px solid #f46767;
}

.nav-link {
    color: black;
    text-transform: uppercase;
}
.copyright {
    font-weight: 700;
    font-size: 1rem;
    margin: 0;
}

.card-negro{
    background-color:rgb(17, 17, 17) ;
}

.letra-blanca{
    color:  rgb(233, 233, 233);
}

.bordes-redondos{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.zona1{
    min-height: 100vh;
    width:100%;
    display: flex;
    justify-content: center; 
    align-items: center;
    /*background-repeat: no-repeat;
    background: url(../img/ciudad11.png);*/
}

.scroll-down{
    height: 50px;
    width: 30px;
    border: 2px solid #ffffff;
    position: absolute;
    left: 49%;
    bottom: 70px;
    border-radius: 50px;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .scroll-down{
        left: 46%;
    }
}

.scroll-down::before,
.scroll-down::after{
    content: "";
    position: absolute;
    top: 20%;
    left: 11%;
    /*height: 10px;
    width: 10px;*/
    transform: translate(-50%, -100%) rotate(45seg);
    /*border: 2px solid #fff;
    border-top: transparent;
    border-left: transparent;*/
    animation: scroll-down 1s ease-in-out infinite;
    width: 0;
    height: 0;
    border-top: 10px solid rgba(235, 101, 12, 0.87);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.scroll-down::before{
    top: 30%;
    animation-delay: 0.7s;
    
}

@keyframes scroll-down{
    0%{
        opacity: 0;
    }
    30%{
        opacity: 1;
    }
    60%{
        opacity: 1;
    }
    100%{
        top: 90%;
        opacity: 0;
    }
}
